# Discord Bot Configuration
TOKEN=<your_discord_bot_token_here>

DISCORD_CLIENT_ID=<your_bot_client_id_here>

OWNER_IDS=<your_discord_user_id_here>

BOT_PREFIX=&

GROQ_API_KEY=<your_groq_api_key_here_optional>

# Webhook URL for command logging (optional)
WEBHOOK_URL=<your_webhook_url_here_optional>
